@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  font-family: 'Rubik', sans-serif;
  background: #F5F6FA;
}

a {
  font-family: 'Rubik', sans-serif;
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 730px;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}